/* General Elements*/
body{
	background-image: url("../images/background.png")
}
div{
	margin: 10px;
	padding: 10px;
}
h1, h3, span{
	font-weight: bold;
	text-align: center;
}
h1{
	font-size: 30pt;
}
ol{
	list-style: decimal inside; 
}
ul {
	list-style: disc inside;
	text-indent: 20px;
}
/* Specfic Elements*/
div.header, div.gems{
}
div.header, div.instructions{
	background-color: white;
}
/* Classes */
.numberToMatch, .winsAndLosses, .totalScore{
	background-color: white;
}
.userTotal{
}
.gems{
	clear: both;
	margin-top:20px;
}
.gemImage{
	height: 180px;
	width: 180px;
	margin: 10px;
}
